In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import re

import os
from cmdstanpy import cmdstan_path, CmdStanModel

In [2]:
b1t1=pd.read_csv('b1t1.csv')
b1t2=pd.read_csv('b1t2.csv')
b2t1=pd.read_csv('b2t1.csv')
b2t2=pd.read_csv('b2t2.csv')
b2t3=pd.read_csv('b2t3.csv')
print(b1t1.columns, b1t2.columns, b2t1.columns, b2t2.columns, b2t3.columns)
print(b1t1.shape, b1t2.shape, b2t1.shape, b2t2.shape, b2t3.shape)
b2t1
b2t3.iloc[:,0:21].columns=b1t1.columns
b2t3_trunc=b2t3.iloc[:,0:21]
b2t3_trunc.columns=b1t1.columns
b2t3_trunc
b2t1.columns=b1t2.columns
b2t1
dgrpall=pd.concat([b1t1, b1t2, b2t1, b2t2, b2t3_trunc])
dgrpall
np.unique(dgrpall['LineNumber'])
skt=dgrpall[dgrpall['LineNumber']!=0]
skt=skt.reset_index(drop=True).reset_index()

skt

Index(['BatchNumber', 'TrayNumber', 'FlyID', 'LineNumber', 'Sex',
       'n_Week1Day1', 'rBias_Week1Day1', 'n_Week1Day2', 'rBias_Week1Day2',
       'n_Week1Day3', 'rBias_Week1Day3', 'n_Week2Day1', 'rBias_Week2Day1',
       'n_Week2Day2', 'rBias_Week2Day2', 'n_Week2Day3', 'rBias_Week2Day3',
       'n_Week3Day1', 'rBias_Week3Day1', 'n_Week3Day3', 'rBias_Week3Day3'],
      dtype='object') Index(['BatchNumber', 'TrayNumber', 'FlyID', 'LineNumber', 'Sex',
       'n_Week1Day1', 'rBias_Week1Day1', 'n_Week1Day2', 'rBias_Week1Day2',
       'n_Week1Day3', 'rBias_Week1Day3', 'n_Week2Day1', 'rBias_Week2Day1',
       'n_Week2Day2', 'rBias_Week2Day2', 'n_Week2Day3', 'rBias_Week2Day3',
       'n_Week3Day1', 'rBias_Week3Day1', 'n_Week3Day2', 'rBias_Week3Day2',
       'n_Week3Day3', 'rBias_Week3Day3'],
      dtype='object') Index(['BatchNumber', 'TrayNumber', 'FlyID', 'LineNumber', 'Sex',
       'n_Week1Day1', 'rBias_Week1Day1', 'n_Week1Day2', 'rBias_Week1Day2',
       'n_Week1Day3', 'rBias_Week1Day3', 'n_Week2Day1', 'rBias_Week2Day1',
       'n_Week2Day2', 'rBias_Week2Day2', 'n_Week2Day3', 'rBias_Week2Day3',
       'n_Week3Day1', 'rBias_Week3Day1', 'n_Week3Day2', 'rBias_Week3Day2',
       'n_Week3Day3', 'rBias_Week3Day3'],
      dtype='object') Index(['BatchNumber', 'TrayNumber', 'FlyID', 'LineNumber', 'Sex',
       'n_Week1Day1', 'rBias_Week1Day1', 'n_Week1Day2', 'rBias_Week1Day2',
       'n_Week1Day3', 'rBias_Week1Day3', 'n_Week2Day2', 'rBias_Week2Day2',
       'n_Week2Day3', 'rBias_Week2Day3', 'n_Week3Day1', 'rBias_Week3Day1',
       'n_Week3Day2', 'rBias_Week3Day2', 'n_Week3Day3', 'rBias_Week3Day3'],
      dtype='object') Index(['BatchNumber', 'TrayNumber', 'FlyID', 'LineNumber', 'Sex',
       'n_Week1Day1', 'rBias_Week1Day1', 'n_Week1Day2', 'rBias_Week1Day2',
       'n_Week1Day3', 'rBias_Week1Day3', 'n_Week2Day1', 'rBias_Week2Day1',
       'n_Week2Day2', 'rBias_Week2Day2', 'n_Week3Day1', 'rBias_Week3Day1',
       'n_Week3Day2', 'rBias_Week3Day2', 'n_Week3Day3', 'rBias_Week3Day3'],
      dtype='object')
(96, 21) (96, 23) (96, 23) (96, 21) (96, 21)

,index,BatchNumber,TrayNumber,FlyID,LineNumber,Sex,n_Week1Day1,rBias_Week1Day1,n_Week1Day2,rBias_Week1Day2,...,n_Week2Day2,rBias_Week2Day2,n_Week2Day3,rBias_Week2Day3,n_Week3Day1,rBias_Week3Day1,n_Week3Day3,rBias_Week3Day3,n_Week3Day2,rBias_Week3Day2
0,0,1,1,1,45,1,54,0.509434,610,0.316913,...,774,0.495472,387,0.383420,741,0.535135,-1,NaN,NaN,NaN
1,1,1,1,2,45,1,873,0.321101,217,0.601852,...,452,0.308204,197,0.535714,-1,NaN,-1,NaN,NaN,NaN
2,2,1,1,3,45,1,196,0.635897,686,0.400000,...,-1,NaN,-1,NaN,-1,NaN,-1,NaN,NaN,NaN
3,3,1,1,4,45,1,3,0.500000,257,0.378906,...,-1,NaN,-1,NaN,-1,NaN,-1,NaN,NaN,NaN
4,4,1,1,5,45,1,0,NaN,726,0.388966,...,-1,NaN,-1,NaN,-1,NaN,-1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,427,2,3,92,535,0,33,0.531250,312,0.495177,...,228,0.484581,448,0.395973,-1,NaN,-1,NaN,NaN,NaN
428,428,2,3,93,535,0,249,0.516129,868,0.554787,...,444,0.519187,468,0.398287,533,0.516917,544,0.390424,NaN,NaN
429,429,2,3,94,535,0,21,0.600000,417,0.423077,...,411,0.568293,223,0.567568,-1,NaN,-1,NaN,NaN,NaN
430,430,2,3,95,535,0,171,0.541176,-1,NaN,...,-1,NaN,-1,NaN,-1,NaN,-1,NaN,NaN,NaN
431,431,2,3,96,535,0,7,0.500000,96,0.684211,...,271,0.525926,215,0.546729,244,0.534979,325,0.620370,NaN,NaN

In [9]:
dgrpall=pd.read_csv('DGRPsummerall.csv')
dgrpall

skt=dgrpall[dgrpall['LineNumber']!=0]
skt=skt.reset_index(drop=True).reset_index()

skt

,index,BatchNumber,TrayNumber,FlyID,LineNumber,Sex,n_Week1Day1,rBias_Week1Day1,n_Week1Day2,rBias_Week1Day2,...,n_Week2Day2,rBias_Week2Day2,n_Week2Day3,rBias_Week2Day3,n_Week3Day1,rBias_Week3Day1,n_Week3Day2,rBias_Week3Day2,n_Week3Day3,rBias_Week3Day3
0,0,1,1,1,45,1,54,0.509434,610.0,0.316913,...,774.0,0.495472,387.0,0.383420,741.0,0.535135,NaN,NaN,-1.0,NaN
1,1,1,1,2,45,1,873,0.321101,217.0,0.601852,...,452.0,0.308204,197.0,0.535714,-1.0,NaN,NaN,NaN,-1.0,NaN
2,2,1,1,3,45,1,196,0.635897,686.0,0.400000,...,-1.0,NaN,-1.0,NaN,-1.0,NaN,NaN,NaN,-1.0,NaN
3,3,1,1,4,45,1,3,0.500000,257.0,0.378906,...,-1.0,NaN,-1.0,NaN,-1.0,NaN,NaN,NaN,-1.0,NaN
4,4,1,1,5,45,1,0,NaN,726.0,0.388966,...,-1.0,NaN,-1.0,NaN,-1.0,NaN,NaN,NaN,-1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,1188,5,2,92,819,0,343,0.654971,158.0,0.477707,...,326.0,0.646154,212.0,0.545024,NaN,NaN,NaN,NaN,NaN,NaN
1189,1189,5,2,93,819,0,281,0.435714,31.0,0.566667,...,209.0,0.389423,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1190,1190,5,2,94,819,0,126,0.328000,395.0,0.428934,...,562.0,0.556150,328.0,0.425076,NaN,NaN,NaN,NaN,NaN,NaN
1191,1191,5,2,95,819,0,472,0.585987,363.0,0.651934,...,243.0,0.504132,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,1192,5,2,96,819,0,39,0.552632,133.0,0.560606,...,356.0,0.628169,231.0,0.500000,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
skt=skt.rename(columns={'index':"uID"})

In [4]:
skt=skt.rename(columns={'index':"uID"})
skt_melted=skt.iloc[:,0:23].melt(id_vars=["BatchNumber", "TrayNumber", "FlyID", "LineNumber", "Sex", "uID"])
skt_melted['Day']=pd.Series(np.zeros(skt_melted.shape[0]))
dayreg=re.compile('Day([0-9]+)')
weekreg=re.compile('Week([0-9]+)')
for row in np.arange(skt_melted.shape[0]):
  # print(row)
  day=dayreg.search(skt_melted.iloc[row]['variable']).group(1)
  week=weekreg.search(skt_melted.iloc[row]['variable']).group(1)
  skt_melted.iloc[row, 8]=int(int(day)+(int(week)-1)*7)
  # print(day.group(1))
  # break

In [5]:
dayreg=re.compile('Day([0-9]+)')
weekreg=re.compile('Week([0-9]+)')
for row in np.arange(skt_melted.shape[0]):
  # print(row)
  day=dayreg.search(skt_melted.iloc[row]['variable']).group(1)
  week=weekreg.search(skt_melted.iloc[row]['variable']).group(1)
  skt_melted.iloc[row, 8]=int(int(day)+(int(week)-1)*7)
  # print(day.group(1))
  # break

In [6]:
skt_melted

,BatchNumber,TrayNumber,FlyID,LineNumber,Sex,uID,variable,value,Day
0,1,1,1,45,1,0,n_Week1Day1,54.0,1.0
1,1,1,2,45,1,1,n_Week1Day1,873.0,1.0
2,1,1,3,45,1,2,n_Week1Day1,196.0,1.0
3,1,1,4,45,1,3,n_Week1Day1,3.0,1.0
4,1,1,5,45,1,4,n_Week1Day1,0.0,1.0
...,...,...,...,...,...,...,...,...,...
7339,2,3,92,535,0,427,n_Week3Day2,NaN,16.0
7340,2,3,93,535,0,428,n_Week3Day2,NaN,16.0
7341,2,3,94,535,0,429,n_Week3Day2,NaN,16.0
7342,2,3,95,535,0,430,n_Week3Day2,NaN,16.0
7343,2,3,96,535,0,431,n_Week3Day2,NaN,16.0

In [7]:
dgrp_data_sk_2d={"N": skt.shape[0],
              "S": np.unique(skt['LineNumber']),
              "s": sc.codes+1,
              "t1_obs": validtrials_t1.shape[0],
              "t2_obs": validtrials_t2.shape[0],
              "t1_mis": mistrials_t1.shape[0],
              "t2_mis": mistrials_t2.shape[0],
              "t1i_obs": validtrials_t1+1,
              "t2i_obs": validtrials_t2+1,
              "t1i_mis": mistrials_t1+1,
              "t2i_mis": mistrials_t2+1,
              "x1_obs": x1,
              "x2_obs": x2,
              "n1_obs": n1,
              "n2_obs": n2}

NameError: name 'sc' is not defined